<h1>Q & A</h1>
<p>
  このサイトへの要望や掲載内容へのご指摘、またパーティの相談、攻略質問など自由にお寄せください。<br>
  回答したものについてはここで公開します（<span class="maker-red">質問一覧はこの下</span>）。
</p>

<% if @question.errors.present? %>
  <div class="alert-danger">
  <% @question.errors.messages.values.flatten.each do |message| %>
    <div><%= message %></div>
  <% end %>
  </div>
<% end %>
<% if flash["success"].present? %>
  <div class="alert-success">
    <%= flash["success"] %>
  </div>
<% end %>
<%= form_for @question do |f| %>

  <%= f.text_field :name, placeholder: "名前（任意）" ,class: "input-text"%>
  <%= f.text_area :body, placeholder: "本文（必須）", class: "textarea" %>
  <%= f.submit "送信", class: "button" %>

<% end %>

<h2 id="questions-list">質問一覧</h2>

<% @questions.each do |question| %>
  <div class="question">
    <% if @current_user.present? %>
      [<%= link_to ' 削除 ', question_path(question), method: :delete %>]
    <% end %>
    <%= link_to question.body, question_path(question.id) %>
  </div>
<% end %>