<p class="intro">
  "<%= Spiranthes::Application.config.title %>"は、ラストピリオド（ラスピリ）の攻略情報やユニットの評価を、やりこみユーザ目線で記載するファンサイトです。
</p>

<h1>ピックアップユニット</h1>
<p>現在開催されているイベントのユニットなどのコーナー</p>

<%= render 'shared/characters_table' %>

<h1>メニュー</h1>

<%= link_to image_tag("ranking.png", class: "banner"), evaluate_path %>
<%= link_to image_tag("characters.png", class: "banner"), characters_path %>
<%= link_to image_tag("questions.png", class: "banner"), questions_path %>

<% if @current_user.present? %>
<%= link_to "ログアウト", logout_path, class: "admin-button", method: :delete %>
<% end %>