<% if @current_user %>
<%= link_to "ユニット追加", new_character_path, class: "admin-button" %>
<% end %>

<table class="characters-table", id="character-table">
  <tr class="characters-table-header">
    <th>ユニット</th>
    <th>属性</th>
    <th>レルム</th>
    <th>周回</th>
    <th>ギルバト</th>
  </tr>
  <% if @characters.blank? %>
    <tr>
      <td colspan="5">条件に合致するユニットは見つかりません。</td>
    </tr>
  <% else %>
    <% @characters.each do |character| %>
    <% debug character.is_icon %>
    <tr>
      <td class="characters-table-icon">
        <a href="<%= url_for character_path(character, anchor: "details") %>">
          <% if character.is_icon %>
          <img src="/assets/characters/icons/default.png" data-src="/assets/characters/icons/icon<%= character.id %>.png", alt="<%= character.name %>", class="character-icon-image lazyload">
          <% else %>
          <%= image_tag("characters/icons/default.png", class: "character-icon-image") %>
          <% end %>

          <%= character.name %>
        </a>
      </td>
      <td class="characters-table-<%= character.property.symbol %>"><%= character.property.name %></td>
      <td><%= character.realm.name %></td>
      <td class="characters-table-score">
        <%= character.rolling_quest_score %>点
      </td>
      <td class="characters-table-score">
        <%= character.guild_battle_score %>点
      </td>
    </tr>
    <% end %>
  <% end %>
</table>