<%= @character.errors.messages.inspect %>
<%= form_for @character do |f| %>

  <section class="form-character">
    <h3>ユニット名</h3>
    <label>
      <%= f.text_field :name %>
    </label>
  </section>

  <section class="form-character">
    <h3>レア度</h3>
    <label><%= f.radio_button :rarity, 5, checked: true %>星5</label>
    <label><%= f.radio_button :rarity, 4 %>星4</label>
    <label><%= f.radio_button :rarity, 3 %>星3</label>
  </section>

  <section class="form-character">
    <h3>属性</h3>
    <label><%= f.radio_button :property_id, 1, checked: true %>火</label>
    <label><%= f.radio_button :property_id, 2 %>水</label>
    <label><%= f.radio_button :property_id, 3 %>木</label>
    <label><%= f.radio_button :property_id, 4 %>光</label>
    <label><%= f.radio_button :property_id, 5 %>闇</label>
  </section>

  <section class="form-character">
    <h3>レルム</h3>
    <label><%= f.radio_button :realm_id, 1, checked: true %>ヒューマ</label>
    <label><%= f.radio_button :realm_id, 2 %>スペア</label>
    <label><%= f.radio_button :realm_id, 3 %>アニマル</label>
    <label><%= f.radio_button :realm_id, 4 %>ブラッド</label>
    <label><%= f.radio_button :realm_id, 5 %>スカイ</label>
    <label><%= f.radio_button :realm_id, 6 %>ヘル</label>
    <label><%= f.radio_button :realm_id, 7 %>アンノウン</label>
  </section>

  <section class="form-character">
    <h3>タイプ</h3>
    <label><%= f.radio_button :type_id, 1, checked: true %>アタッカー</label>
    <label><%= f.radio_button :type_id, 2 %>ヒーロー</label>
    <label><%= f.radio_button :type_id, 3 %>キラー</label>
    <label><%= f.radio_button :type_id, 4 %>ジャマー</label>
    <label><%= f.radio_button :type_id, 5 %>ディフェンダー</label>
    <label><%= f.radio_button :type_id, 6 %>サポーター</label>
  </section>

  <section class="form-character">
    <h3>リーダースキル</h3>
    <%= f.select :head_leaderskill_id, @head_leaderskill_array %>
    ユニットの
    <%= f.select :foot_leaderskill_id, @foot_leaderskill_array %>
  </section>

  <section class="form-character">
    <h3>アビリティ</h3>
    <label class="label-block">
      アビ1
      <%= f.select :ability1_id, @abilities["ability1"] %>
    </label>
    <label class="label-block">
      アビ2
      <%= f.select :ability2_id, @abilities["ability2"] %>
    </label>
    <label class="label-block">
      アビ3
      <%= f.select :ability3_id, @abilities["ability3"] %>
    </label>
  </section>

  <section class="form-character">
    <h3>スキル</h3>
    <label class="label-block">
      スキル名
      <%= f.text_field :skill_name %>
    </label>
    <label class="label-block">
      スキルポイント
      <%= f.text_field :skill_point %>
    </label>
    <label class="label-block">
      説明文
      <%= f.text_area :skill_description, class: "form-character-skill-description" %>
    </label>
  </section>

  <section class="form-character">
    <h3>その他</h3>
    <label class="label-block">
      入手方法
      <%= f.text_field :from %>
    </label>
    <label class="label-block">
      モーション
      <%= f.text_field :motion %>
    </label>
    <label class="label-block">
      攻撃回数
      <%= f.text_field :attack_count %>
    </label>
  </section>

  <section class="form-character">
    <label class="lebel-block">
      <%= f.check_box :is_icon, {checked_value: true, unchecked_value: false} %>
      アイコン画像
    </label>
    <label class="lebel-block">
      <%= f.check_box :is_illust, {checked_value: true, unchecked_value: false} %>
      立ち絵画像
    </label>
    <label class="lebel-block">
      <%= f.check_box :is_picked, {checked_value: true, unchecked_value: false} %>
      ピックアップユニット
    </label>
  </section>

  <section class="form-character">
    <h3>点数</h3>
    <label class="label-block">
      周回評価
      <%= f.text_field :rolling_quest_score %>
    </label>
    <label class="label-block">
      ギルバト評価
      <%= f.text_field :guild_battle_score %>
    </label>
  </section>

  <section class="form-character">
    <h3>ユニット解説</h3>
    <%= f.text_area :body, class: "form-character-body" %>
  </section>
  

  <%= f.submit "送信", class: "admin-button" %>
<% end %>