<%= form_tag(url_for(characters_path) + "#character-table", method: "get") do %>
  
  <table class="search-table">
  <tr class="search-box">
    <td class="search-box-header">
      星
    </td>
    <td class="search-box-unselected">
      <label class="search-box-label"><%= radio_button "character", "rarity", 0, class: "search-radio-button", checked: true %><span>指定なし</span></label>
    </td>
    <td class="search-box-items search-box-items-rarity">
      <label class="search-box-label"><%= radio_button "character", "rarity", 5, class: "search-radio-button" %><span>5</span></label>
      <label class="search-box-label"><%= radio_button "character", "rarity", 4, class: "search-radio-button" %><span>4</span></label>
      <label class="search-box-label"><%= radio_button "character", "rarity", 3, class: "search-radio-button" %><span>3</span></label>
    </td>
  </tr>

  <tr class="search-box">
    <td class="search-box-header">
      属性
    </td>
    <td class="search-box-unselected">
      <label class="search-box-label"><%= radio_button "character", "property_id", 0, class: "search-radio-button", checked: true %><span>指定なし</span></label>
    </td>
    <td class="search-box-items search-box-items-property">
      <label class="search-box-label"><%= radio_button "character", "property_id", 1, class: "search-radio-button" %><span>火</span></label>
      <label class="search-box-label"><%= radio_button "character", "property_id", 2, class: "search-radio-button" %><span>水</span></label>
      <label class="search-box-label"><%= radio_button "character", "property_id", 3, class: "search-radio-button" %><span>木</span></label>
      <label class="search-box-label"><%= radio_button "character", "property_id", 4, class: "search-radio-button" %><span>光</span></label>
      <label class="search-box-label"><%= radio_button "character", "property_id", 5, class: "search-radio-button" %><span>闇</span></label>
    </td>
  </tr>

  <tr class="search-box">
    <td class="search-box-header">
      レルム
    </td>
    <td class="search-box-unselected">
      <label class="search-box-label2"><%= radio_button "character", "realm_id", 0, class: "search-radio-button", checked: true %><span>指定なし</span></label>
    </td>
    <td class="search-box-items search-box-items-realm">
      <label class="search-box-label"><%= radio_button "character", "realm_id", 1, class: "search-radio-button" %><span>ヒューマ</span></label>
      <label class="search-box-label"><%= radio_button "character", "realm_id", 2, class: "search-radio-button" %><span>スペア</span></label>
      <label class="search-box-label"><%= radio_button "character", "realm_id", 3, class: "search-radio-button" %><span>アニマル</span></label>
      <label class="search-box-label"><%= radio_button "character", "realm_id", 4, class: "search-radio-button" %><span>ブラッド</span></label>
      <label class="search-box-label"><%= radio_button "character", "realm_id", 5, class: "search-radio-button" %><span>スカイ</span></label>
      <label class="search-box-label"><%= radio_button "character", "realm_id", 6, class: "search-radio-button" %><span>ヘル</span></label>
      <label class="search-box-label"><%= radio_button "character", "realm_id", 7, class: "search-radio-button" %><span>アンノウン</span></label>
    </td>
  </tr>

  <tr class="search-box">
    <td class="search-box-header">
      タイプ
    </td>
    <td class="search-box-unselected">
      <label class="search-box-label2"><%= radio_button "character", "type_id", 0, class: "search-radio-button", checked: true %><span>指定なし</span></label>
    </td>
    <td class="search-box-items search-box-items-type">
      <label class="search-box-label"><%= radio_button "character", "type_id", 1, class: "search-radio-button" %><span>アタッカー</span></label>
      <label class="search-box-label"><%= radio_button "character", "type_id", 2, class: "search-radio-button" %><span>ヒーロー</span></label>
      <label class="search-box-label"><%= radio_button "character", "type_id", 3, class: "search-radio-button" %><span>キラー</span></label>
      <label class="search-box-label"><%= radio_button "character", "type_id", 4, class: "search-radio-button" %><span>ジャマー</span></label>
      <label class="search-box-label"><%= radio_button "character", "type_id", 5, class: "search-radio-button" %><span>ディフェンダー</span></label>
      <label class="search-box-label"><%= radio_button "character", "type_id", 6, class: "search-radio-button" %><span>サポーター</span></label>
    </td>
  </tr>
  </table>

  <%= submit_tag("検索", class: "button") %>
<% end %>