<h1>ユニット評価ランキング</h1>
<p>
  ユニットの周回/ギルバトにおける評価ランキングです。評価基準については<%= link_to "こちら", information_path %>をご覧ください。
</p>
<div class="evaluate-button-wrapper">
<% if params["guild"] == "1" %>
<%= link_to "周回評価", {controller: :characters, action: :evaluate}, class: "evaluate-page-button" %>
<%= link_to "ギルバト評価", url_for({controller: :characters, action: :evaluate}) + "?guild=1", class: "evaluate-page-button-active" %>
<% else %>
<%= link_to "周回評価", {controller: :characters, action: :evaluate}, class: "evaluate-page-button-active" %>
<%= link_to "ギルバト評価", url_for({controller: :characters, action: :evaluate}) + "?guild=1", class: "evaluate-page-button" %>
<% end %>
</div>
<%= render 'shared/characters_table' %>