<h1>ユニット一覧</h1>

<% if @current_user %>
<%= link_to "ユニット追加", new_character_path, class: "admin-button" %>
<% end %>

<table class="characters-table">
  <% @characters.each do |character| %>
  <tr>
    <td>
      <%= image_tag "characters/icons/nil.png", class: "character-icon-image" %>
      <%= link_to character.name, character_path(character) %>
    </td>
    <td><%= character.property.name %></td>
    <td><%= character.realm.name %></td>
    <td><%= character.type.name %></td>
  </tr>
  <% end %>
</table>