<h1><%= @character.name %> の能力・評価</h1>

<%= image_tag "characters/illusts/nil.png", class: "character-illust" %>

<h2>基本情報</h2>
<p>
  <%= @character.name %>
  <%= @character.realm.name %>
  <%= @character.property.name %>
  <%= @character.type.name %>
  <%= @character.leaderskill.name %>
</p>