<h1><%= @character.name %> の能力・評価</h1>

<% if @current_user %>
<%= link_to "編集", edit_character_path %>
<% end %>

<%= image_tag "characters/illusts/nil.png", class: "character-illust" %>

<h2>基本情報</h2>
<p>
  <%= @character.name %>
  <%= @character.rarity %>
  <%= @character.realm.name %>
  <%= @character.property.name %>
  <%= @character.type.name %>
  <%= @character.leaderskill.name %>
  <%= @character.skill %>
  <%= @character.skill_description %>
  <%= @character.ability1.name %>
  <%= @character.ability2.name %>
  <%= @character.ability3.name %>
  <%= @character.guild_battle_score %>
  <%= @character.rolling_quest_score %>
</p>

<% if @current_user %>
<%= link_to "編集", edit_character_path %>
<% end %>