<!DOCTYPE html>
<html>
  <head>
    <title>
      <% if @title.present? %>
        <%= @title %>
      <% else %>
        Spiranthes
      <% end %>
    </title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <a href="/" class="logo">Spiranthes</a>
      <%= link_to "", information_path, class: "information" %>
    </header>
    <div class="overall-container">
      <main>
      <%= yield %>
      </main>
      <aside>
        <%= link_to "ユニット評価", {controller: :characters, action: :evaluate} %>
        <%= link_to "ユニット一覧", characters_path %>
        <a href="/">詳細検索</a>
<!--         <a href="/">ギルバト攻略</a>
        <a href="/">このサイトは？</a>
        <a href="/">Q & A</a> -->
      </aside>
    </div>
    <footer>
      © 2019 numama
    </footer>
  </body>
</html>
